@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  background-color: #f9f9f9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 20px;
  min-height: 100vh;
  background-color: #f9f9f9;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  height: 32px;
}

#search,
#continent-filter {
  margin: 10px 0;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80%;
  max-width: 400px;
}

#countries-container {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

@media (min-width: 1024px) {
  #countries-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

.country {
  border: 1px solid #ddd;
  padding: 0.5rem;
  border-radius: 8px;
  text-align: center;
  background-color: #8295ca;
  box-shadow: 0 8px 16px rgba(19, 10, 10, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.country:hover {
  transform: translateY(-5px);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
}

.country img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  width: 150px;
  height: 100px;
  object-fit: cover;
  margin: 0 auto;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
}

button:hover {
  background-color: #0056b3;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f9f9f9;
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

footer p {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: #02048b;
}

footer .social-links {
  display: flex;
  gap: 20px;
}

footer .social-links a {
  color: #02048b;
  font-size: 1.5rem;
  text-decoration: none;
}

footer .social-links a:hover {
  color: #0056b3;
}

#country-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2em;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  background-color: #1a202c;
  color: #fff;
}

#country-header h1 {
  font-size: 2.5em;
  color: #02048b;
  margin: 0;
}

#country-header img {
  width: 200px;
  height: 120px;
  object-fit: cover;
  border-radius: 4px;
}

#country-header a {
  color: #fff;
  text-decoration: none;
}

#country-header a:hover {
  background-color: #2d3748;
  color: #cbd5e0;
}

#country-header i {
  font-size: 1.5rem;
}

#country-header span {
  font-size: 1rem;
}

#country-name {
  transform: rotate(180deg);
}
.text-blue-custom {
  color: #02048b;
}
#country-container {
  text-align: center;
  padding: 20px;
  margin-top: 10px;
}
.text-blue-custom {
  color: #02048b;
}
#country-description {
  margin-top: 50px;
  margin-bottom: 20px;
  text-decoration: #02048b;
  font-weight: bold;
}
.text-blue-custom {
  color: #02048b;
}
#map {
  height: 400px;
  margin-top: 80px;
}

.back-link {
  display: inline-block;
  margin-top: 60px;
  font-size: 1.2em;
  color: #02048b;
  text-decoration: none;
  font-weight: bold;
}

.back-link i {
  margin-right: 10px;
  font-size: 1.5em;
}

back-link:hover {
  color: #0056b3;
}.text-blue-custom {
  color: #02048b;
}

#country-container {
  color: #333333;
}

#country-description {
  font-size: 1.25rem;
  color: #02048b;
}

h2 {
  color: #02048b;
}

#country-images {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

#places-of-interest .place {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#places-of-interest .place i {
  font-size: 3rem;
  margin-bottom: 10px;
}

#places-of-interest .place a {
  text-decoration: none;
  color: inherit;
}

.text-blue-custom {
  color: #02048b;
}